
/*font-family: 'Aldrich', sans-serif;
font-family: 'SourceCodeProSemiBold', sans-serif;

font-family: 'Source Code Pro', ;
*/


.title-name {
    font-family: 'Source Code Pro', ;
}

.brand {
    font-family: 'Aldrich', sans-serif; 
}

.bold-brand {
    font-weight: bold;
}

.page-title {
    font-family: 'Source Code Pro', ;  
}

