body {background-image:url(stars.gif);}

.question {
    color: white;
    position: absolute;
    left: 525px;
    top: 345px;
    font-size: 70px;
}

a:visited {
	color: rgb(55,245,235);
}

a:hover {
	color: blue;
}

#options-yes {
	color: purple;
    position: absolute;
    top: 45%;
    font-size: 65px;
    left: 37%
}

#options-no {
    position: absolute;
    top: 45%;
    font-size: 65px;
    left: 53%;
}

#pp_asking {
   position: absolute;
<<<<<<< HEAD
    left: 800;
    top: -300;
}


<!--#enemy1 {
	position: absolute;
	width: 150;
	height: auto;
} -->
=======
    width: 400;
    height: 400;
    left: 200px;
    top: 585px;
}
>>>>>>> 00a06fbb7a4f52efc03126101228a0ba3562df3e
