body{
    background-color:white
}

div{
    background-color:#8A2BE2
}


h1{
    font-size: 40px;
    font-family: fantasy
    
}

div{
    font-size:25px;
    font-family: fantasy;
    color:white;

    
}

a{
    color:white;
    
}