body{ font-family: cursive;
    font-size:30px;
    text-align: center;
    color:black;
        
background:maroon}

p.things {
    color:black
}
p.images {
    text-align: center
}
p.about me {
    text-align: center;
        font-size: 50px
}

#welcome {
    text-align: left;
    padding: 10px;
    background:white;
    display:none
}